:root {
    --verdePrincipal: #3FE0D0;
    --lightenVerdePrincipal: #6FE8DC;
    --darkenVerdePrincipal: #28BDAE;

    --verdeClaro: #E8FFFD;

    --cinzaClaro: #F8F8F8;
    --cinzaEscuro: #818181;
}

.btn {
    border: none;
    border-radius: 12px;
    
    width: 160px;
    height: 40px;
    
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;

    transition: 0.5s;
}

.btnConfirm {
    background-color: var(--verdePrincipal);
}

    .btnConfirm:hover {
        background-color: var(--darkenVerdePrincipal);
    }
