.inputWithIcon {
    width: 300px;
    height: 40px;

    border-radius: 7px;
    background-color: var(--cinzaClaro);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .inputWithIcon:focus-within {
        border: 1px solid var(--darkenVerdePrincipal);
    }

.inputIcon {
    color: var(--cinzaEscuro);
}

input[type=text], input[type=password] {
    width: 75%;
    height: 100%;

    border: none;
    background: none;

    color: var(--cinzaEscuro);
    font-family: WorkSansRegular;
    font-style: normal;
    font-weight: 400;
}

button {
    border: none;
    border-radius: 7px;
    
    width: 160px;
    height: 40px;
    
    color: white;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    transition: 0.5s;
}

.btnConfirm {
    background-color: var(--verdePrincipal);
}

    .btnConfirm:hover, .btnConfirm:focus {
        background-color: var(--darkenVerdePrincipal);
    }
