:root {
    --verdePrincipal: #3FE0D0;
    --lightenVerdePrincipal: #6FE8DC;
    --darkenVerdePrincipal: #28BDAE;

    --verdeClaro: #E8FFFD;

    --cinzaClaro: #F8F8F8;
    --cinzaEscuro: #818181;
}

input[type=text], input[type=password] {
    border: none;
    border-radius: 7px;
    padding: 0 15px;

    width: 230px;
    height: 40px;

    background-color: var(--cinzaClaro);

    color: var(--cinzaEscuro);
    font-family: WorkSansRegular;
    font-style: normal;
    font-weight: 400;
}

button {
    border: none;
    border-radius: 7px;
    
    width: 160px;
    height: 40px;
    
    color: white;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    transition: 0.5s;
}

.btnConfirm {
    background-color: var(--verdePrincipal);
}

    .btnConfirm:hover, .btnConfirm:focus {
        background-color: var(--darkenVerdePrincipal);
    }

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 18px;
    position: absolute;
    right: 20%;
    bottom: 30%;

    /*
    width:fit-content;
    height:fit-content;
    */
}
